* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-title: "Staatliches", sans-serif;
  --ff-main-p: "Palanquin", sans-serif;
  --ff-header-p: "Roboto", sans-serif;
  --ff-footer: "Open Sans", sans-serif;

  font-size: 62.5%;
  --fs-heading: 4rem;
  --fs-heading-p: 2rem;
  --fs-heading-pm: 1.4rem;
  --fs-header-p: 2.4rem;

  --bg-primary: hsl(233, 100%, 97%);
  --bg-secondary: hsl(218, 17%, 62%);
  --bg-heading: hsl(275, 18%, 79%);
  --bg-heading-s: hsl(312, 91%, 96%);

  --fc-heading: hsl(0, 0%, 100%);
  --fc-heading-p: hsl(274, 84%, 12%);
  --fc-heading-s: hsl(232, 17%, 35%);
}

body {
  min-width: 38.4rem;
  background: var(--bg-primary);
}

img {
  width: 100%;
  height: auto;
}

header {
  text-align: center;
  padding-bottom: 2.9rem;

  background-color: var(--bg-secondary);
}

header img {
  margin: 3.2rem 0;
  width: 13.7rem;

  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

header h1 {
  font-family: var(--ff-title);
  font-size: var(--fs-heading);
  font-weight: 400;
  line-height: 3.4rem;

  letter-spacing: 0.05em;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);

  padding: 0.8rem 0;

  color: var(--fc-heading);
  background-color: var(--bg-heading);
}

main {
  max-width: 38.4rem;
  text-align: center;

  margin: 1.4rem auto 6rem;
  padding: 0 3.2rem;
}

main p,
header p {
  font-family: var(--ff-main-p);
  font-size: var(--fs-heading-pm);
  font-weight: 400;
  line-height: 1.5rem;

  margin-bottom: 3.2rem;

  color: var(--fc-heading-p);
}

.cards {
  display: grid;
  gap: 3.2rem;
}

.card {
  position: relative;
}

.card h2 {
  font-family: var(--ff-title);
  font-size: var(--fs-heading-p);
  font-weight: 400;
  line-height: 3.4rem;
  text-align: center;

  width: fit-content;
  letter-spacing: 0.05em;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  padding: 0 2.3rem;

  color: var(--fc-heading-s);
  background-color: var(--bg-heading-s);
  border-radius: 2rem;

  animation: rigthleft 700ms 500ms backwards;
}

.card img {
  object-fit: cover;
  border-radius: 2rem;

  transition: all 200ms;

  animation: leftrigth 700ms forwards;
}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

main .cards div:nth-child(1) img,
main .cards div:nth-child(3) img,
main .cards div:nth-child(5) img {
  height: 25rem;
}

main .cards div:nth-child(2) img,
main .cards div:nth-child(4) img,
main .cards div:nth-child(6) img {
  height: 45rem;
}

footer {
  font-family: var(--ff-footer);
  font-size: var(--fs-heading-pm);
  font-weight: 400;
  line-height: 3rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5rem 0;
  
  color: #4a4e69;
}

footer a {
  text-decoration: none;
  font-weight: 700;
}

footer img {
  width: 3rem;
}

@keyframes rigthleft {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes leftrigth {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (min-width: 780px) {
  :root {
    --fs-heading: 4.8rem;
  }

  body {
    max-width: 128rem;
    min-height: 100vh;

    display: grid;
    grid-template-areas:
      "header content"
      "header footer";
  }

  #logo2 {
    display: none;
  }

  header {
    width: 37.7rem;
    height: 100%;
    padding: 0;

    grid-area: header;
  }

  header img {
    width: 21.4rem;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  header h1 {
    height: 7rem;
    padding: 2rem;
  }

  header p {
    font-family: var(--ff-header-p);
    font-size: 1.5rem;
    line-height: 2rem;

    width: 25.7rem;
    margin: 5rem auto;

    grid-area: sidebar;

    color: white;
  }

  main {
    max-width: 90.3rem;

    grid-area: content;

    margin: 6.4rem 9.8rem 0;
    padding: 0;
  }

  main p {
    display: none;
  }

  footer {
    grid-area: footer;
  }

  .cards .card h2 {
    display: none;
  }

  .cards {
    grid-template-areas:
      "A B C"
      "D B F"
      "D E F";
  }

  .cards div:nth-child(1) {
    grid-area: A;
  }

  .cards div:nth-child(2) {
    grid-area: B;
  }

  .cards div:nth-child(3) {
    grid-area: E;
  }

  .cards div:nth-child(4) {
    grid-area: D;
  }

  .cards div:nth-child(5) {
    grid-area: C;
  }

  .cards div:nth-child(6) {
    grid-area: F;
  }

  main .cards div:nth-child(1) img,
  main .cards div:nth-child(3) img,
  main .cards div:nth-child(5) img {
    height: 15rem;
  }

  main .cards div:nth-child(2) img,
  main .cards div:nth-child(4) img,
  main .cards div:nth-child(6) img {
    height: 35rem;
  }

  .card img {
    animation: leftrigth 700ms backwards;
  }
}

@media (max-width: 780px) {
  header p {
    display: none;
  }

  #logo1 {
    display: none;
  }

  main .cards div:nth-child(5) {
    display: none;
  }

  main .cards div:nth-child(6) {
    display: none;
  }

  footer {
    padding: 0 0 5rem;
  }
}
